<footer class="footer" id="footer">
    <div class="footer__container container">
        <div class="footer-menu">
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a href="" class="footer-menu__link">
                        Главная
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu__link">
                        Акции
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu__link">
                        Магазины
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu__link">
                        Профиль
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-contacts">
            <ul class="footer-contacts__list">
                <li class="footer-contacts__item">
                    <a href="tel:8 (800) 000 00 00" class="footer-contacts__link">
                        <svg class="footer-contacts__svg footer-contacts__svg_tel"><use xlink:href="img/sprite.svg#i-phone"></use></svg>
                        8 (800) 000 00 00
                    </a>
                </li>
                <li class="footer-contacts__item">
                    <a href="mailto:electrocity.ru" class="footer-contacts__link">
                        <svg class="footer-contacts__svg footer-contacts__svg_mail"><use xlink:href="img/sprite.svg#i-mail"></use></svg>
                        electrocity.ru
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <span class="footer-copyright__text">© 2014-2021 «ЭЛЕКТРОСИТИ». Все права защищены</span>
        </div>
        <div class="footer-social">
            <ul class="footer-social__list">
                <li class="footer-social__item">
                    <a href="https://vk.com/" class="footer-social__link">
                        <svg class="footer-social__svg"><use xlink:href="img/sprite.svg#i-vk"></use></svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="https://www.youtube.com/" class="footer-social__link">
                        <svg class="footer-social__svg"><use xlink:href="img/sprite.svg#i-youtube"></use></svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="https://web.telegram.org/" class="footer-social__link">
                        <svg class="footer-social__svg"><use xlink:href="img/sprite.svg#i-tg"></use></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>