<header class="header" id="header">
    <div class="header-top">
        <div class="header-top__container container">
            <div class="header-top__block">
                <button class="header-city" type="button">
                    <svg class="header-city__svg"><use xlink:href="img/sprite.svg#i-geo"></use></svg>
                    г. Рязань
                </button>
                <a href="" class="header-shop">
                    <svg class="header-shop__svg svg"><use xlink:href="img/sprite.svg#i-shop"></use></svg>
                    Магазины
                </a>
                <a href="tel:8 (800) 000 00 00" class="header-phone">
                    <svg class="header-phone__svg"><use xlink:href="img/sprite.svg#i-phone"></use></svg>
                    8 (800) 000 00 00
                </a>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="header-menu__container container">
            <div class="header-menu__block">
                <a href="" class="header-logo">
                    <span class="header-logo__text">Электросити</span>
                </a>
                <ul class="header-mobile__list">
                    <li class="header-mobile__item">
                        <a href="" class="header-mobile__link">
                            <svg class="header-mobile__svg"><use xlink:href="img/sprite.svg#i-purchases"></use></svg>
                        </a>
                    </li>
                    <li class="header-mobile__item">
                        <a href="" class="header-mobile__link">
                            <svg class="header-mobile__svg"><use xlink:href="img/sprite.svg#i-shop"></use></svg>
                        </a>
                    </li>
                    <li class="header-mobile__item">
                        <a href="" class="header-mobile__link">
                            <svg class="header-mobile__svg header-mobile__svg_stroke"><use xlink:href="img/sprite.svg#i-geo"></use></svg>
                        </a>
                    </li>
                </ul>
                <button class="header-burger">
                    <svg class="header-burger__svg"><use xlink:href="img/sprite.svg#i-burger"></use></svg>
                </button>
                <div class="header-mobile__menu-catalog menu-catalog">
                    <span class="menu-catalog__title">Каталог</span>
                    <button class="menu-catalog__close">
                        <svg class="menu-catalog__close-svg"><use xlink:href="img/sprite.svg#i-close"></use></svg>
                    </button>
                    <ul class="menu-catalog__list">
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-1.png" alt="">
                                <span href="" class="menu-catalog__item-name">Ноутбуки и аксессуары</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-2.png" alt="">
                                <span href="" class="menu-catalog__item-name">Смартфоны и аксессуары</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
                            </a>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-3.png" alt="">
                                <span href="" class="menu-catalog__item-name">Телевизоры и аксессуары</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-4.svg" alt="">
                                <span href="" class="menu-catalog__item-name">Фото и видеотехника</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-5.png" alt="">
                                <span href="" class="menu-catalog__item-name">Планшеты и аксессуары</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-6.png" alt="">
                                <span href="" class="menu-catalog__item-name">Наушники и аудиотехника</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-7.png" alt="">
                                <span href="" class="menu-catalog__item-name">Гейминг</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-8.png" alt="">
                                <span href="" class="menu-catalog__item-name">Умные часы</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-9.png" alt="">
                                <span href="" class="menu-catalog__item-name">Портативная акустика</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-10.png" alt="">
                                <span href="" class="menu-catalog__item-name">Сетевое оборудование</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-11.png" alt="">
                                <span href="" class="menu-catalog__item-name">Офисная техника</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-catalog__item">
                            <a href="" class="menu-catalog__item-link">
                                <img class="menu-catalog__item-img" src="../img/menu-icons/i-12.png" alt="">
                                <span href="" class="menu-catalog__item-name">Умный дом</span>
                                <svg class="menu-catalog__item-svg"><use xlink:href="img/sprite.svg#i-arrow-right"></use></svg>
    
                            </a>
                            <ul class="menu-catalog__sublist">
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                                <li class="menu-catalog__subitem">
                                    <a href="" class="menu-catalog__subitem-link">Пункт</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <label for="header-search" class="header-search">
                    <button class="header-search__btn" type="submit">
                        <svg class="header-search__svg"><use xlink:href="img/sprite.svg#i-search"></use></svg>
                    </button>
                    <input type="text" name="header-search" class="header-search__input" placeholder="Поиск среди товаров">
                </label>
                <ul class="header-menu__list">
                    <li class="header-menu__item">
                        <a href="" class="header-menu__link">
                            <svg class="header-menu__svg"><use xlink:href="img/sprite.svg#i-profile"></use></svg>
                            Анастасия
                        </a>
                    </li>
                    <li class="header-menu__item">
                        <a href="" class="header-menu__link">
                            <svg class="header-menu__svg"><use xlink:href="img/sprite.svg#i-purchases"></use></svg>
                            Покупки
                        </a>
                    </li>
                    <li class="header-menu__item">
                        <a href="" class="header-menu__link">
                            <svg class="header-menu__svg"><use xlink:href="img/sprite.svg#i-favorites"></use></svg>
                            Избранное
                        </a>
                    </li>
                    <li class="header-menu__item">
                        <a href="" class="header-menu__link">
                            <svg class="header-menu__svg"><use xlink:href="img/sprite.svg#i-basket"></use></svg>
                            Корзина
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-slider">
        <div class="header-slider__container container">
            <div class="header-slider__swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide active">
                        <a href="" class="swiper-slide__link">
                            <svg class="swiper-slide__svg"><use xlink:href="img/sprite.svg#i-percent"></use></svg>
                            Акции
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Смартфоны
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Ноутбуки
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Телевизоры
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Видеотехника
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Планшеты
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Наушники
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Гейминг
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Умные часы
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="swiper-slide__link">
                            Моноблок
                        </a>
                    </div>
                  </div>
                  <div class="swiper-button__prev">
                    <svg class="swiper-button__svg"><use xlink:href="img/sprite.svg#i-arrow-slider"></use></svg>
                  </div>
                  <div class="swiper-button__next">
                    <svg class="swiper-button__svg"><use xlink:href="img/sprite.svg#i-arrow-slider"></use></svg>
                  </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <ul class="header-bottom__list">
            <li class="header-bottom__item active">
                <a href="" class="header-bottom__link">
                    <svg class="header-bottom__svg"><use xlink:href="img/sprite.svg#i-home"></use></svg>
                    <span class="header-bottom__name">Главная</span>
                </a>
            </li>
            <li class="header-bottom__item">
                <a href="" class="header-bottom__link">
                    <svg class="header-bottom__svg"><use xlink:href="img/sprite.svg#i-search"></use></svg>
                    <span class="header-bottom__name">Поиск</span>
                </a>
            </li>
            <li class="header-bottom__item">
                <a href="" class="header-bottom__link">
                    <svg class="header-bottom__svg"><use xlink:href="img/sprite.svg#i-favorites"></use></svg>
                    <span class="header-bottom__name">Избранное</span>
                </a>
            </li>
            <li class="header-bottom__item">
                <a href="" class="header-bottom__link">
                    <svg class="header-bottom__svg"><use xlink:href="img/sprite.svg#i-basket"></use></svg>
                    <span class="header-bottom__name">Корзина</span>
                </a>
            </li>
            <li class="header-bottom__item">
                <a href="" class="header-bottom__link">
                    <svg class="header-bottom__svg"><use xlink:href="img/sprite.svg#i-profile"></use></svg>
                    <span class="header-bottom__name">Профиль</span>
                </a>
            </li>
        </ul>
    </div>
</header>