@import './var.scss';
@import './mixin.scss';
@import './font.scss';
@import './default.scss';
@import './header.scss';
@import './footer.scss';

.main-promo {
    padding: 24px 0 48px;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $black1;
        margin: 0;
    }

    &__list {
        display: grid;
        row-gap: 18px;
        width: 100%;
        padding: 24px 0;

        @media screen and ($small) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 18px;
        }
        @media screen and ($tablet) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 34px;
            row-gap: 34px;
        }
    }

    &__item {
        border-radius: 10px;
        box-shadow: 0px 6px 30px 4px rgba(32, 32, 32, 0.1);
        transition: .3s;
        
        &:hover {
            transform: scale(1.02);
        }
    }

    &__img {
        width: 100%;
    }
}