$white: #FFFFFF;
$black0: #000000;
$black1: #333333;
$gray1: #E8E8E8;
$gray2: #8D8D8D;
$gray3: #DDDDDD;
$gray4: #F4F4F4;
$red: #E11C4B;

$large: 'min-width: 1200px';
$tablet: 'min-width: 1024px';
$phone: 'min-width: 768px';
$small: 'min-width: 576px';